.answer-type-fixed {
    display: inline-block; margin-right: 8px;
}

.instructions.question-instructions {
    font-size: 90%;
    font-style: italic;
    display: none;
}

.regen {
    float: right; 
    i { font-size: 20px; }
    &.regenerating { background: green; }
}
