.answer-type-fixed {
    display: inline-block; margin-right: 8px;
}

.instructions.question-instructions {
    font-size: 90%;
    font-style: italic;
    display: none;
}

.full-screen-spinner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%; width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10000;

    .spinner-widget {
    	position: relative;
	top: 50%; left: calc(50% - 20px);
	transform: translate(-50%, -50%);
    }
}

.confirmation-dialog {
    .popup {
	background: #333;
	width: 90%;
	max-width: 380px;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	.popup-buttons .button { border-radius: 4px; }
    }
}
