<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_back()">
      Cancel
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
  <div class="full-screen-spinner" ng-show="busy"><div class="spinner-widget ball-loader"></div></div>
  <ion-content class="blog-screen-content">
    <div class="list blog">
      <div class="item item-text-wrap blog-detail-image" style="border-top: none;">
      	<h2 content-editable ng-model="post.title" render-html="true" class="blog-title">
	  Your Story's Title
	</h2>
      	<p ng-bind="post.date | date:'EEEE, MMM dd, yyyy'"></p>
      	<p style="display: none" ng-bind="post.author"></p>
      </div>
      <div class="blog-detail-content">
        <div class="post-actions">
            <div class="image-adder" ng-click="image_chooser()">
              <i class="ion-camera">+</i>
            </div>
        </div>
      	<div content-editable ng-model="post.content" style="width: 100%; display: block; padding: 8px;">
	  Tell us your story!<br /><br />
	  Touch this area to start typing in your story.  You can touch the title above to set that as well.
	  After you submit your story, it will be reviewed. Each week, new stories are chosen to be included in the
	  blog.  Tell us your story, because it's important, and we're listening to you.
	  <br /><br />
	  You can add pictures and videos by clicking the camera icon at the top of this section.
	</div>
	<div class="blog-image" ng-repeat="image in post.images">
	  <img ng-src="{{image}}" ng-click="edit_image($index)" />
	</div>
      </div>
    </div>

  </ion-content>
  <div class="sticky-footer">
    <button class="button button-block button-light button-light-home button-light-cta" ng-disabled="!post.title || !post.content"
	    type="item-text-wrap" ng-click="submit_post()">
      <span ng-bind="submit_button_text"></span>
    </button>
  </div>
</ion-nav-view>
