<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_back()">
      Cancel
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
  <ion-content class="blog-screen-content">
    <div class="list blog">
      <div class="item item-text-wrap blog-detail-image" style="border-top: none;">
      	<h2 content-editable ng-model="post.title" render-html="true" class="blog-title">Your Post Title</h2>
      	<p ng-bind="post.date | date:'EEEE, MMM dd, yyyy'"></p>
      	<p ng-bind="post.author"></p>
      </div>
      <div class="blog-detail-content">
        <div class="post-actions">
            <div class="image-adder" ng-click="image_chooser()">
              <i class="ion-camera"></i>
            </div>
        </div>
      	<p content-editable ng-model="post.content">
	  Edit this content to tell your story, by simply touching the
	  text that you want to change.  After you submit your story, it will
	  be reviewed. Each week, new stories are chosen to be included in the
	  blog.  Tell us your story, because it's important, and we're
	  listening to you.
	  <br /><br />
	  Don't know what happens with these newlines.
	  <br /><br />
	  You can add pictures and videos by clicking the camera icon at the top of this section.
	</p>
	<div class="blog-image" ng-repeat="image in post.images">
	  <img ng-src="{{image}}" ng-click="edit_image($index)" />
	</div>
      </div>
    </div>

  </ion-content>
  <div class="sticky-footer">
    <button class="button button-block button-light button-light-home button-light-cta" type="item-text-wrap" ng-click="submit_post()">
      Submit Post
    </button>
  </div>
</ion-nav-view>
