<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_list()">
      <i class="ion-arrow-left-c" style="margin-right: 2px;"></i> Stories
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-show="shareable" ng-click="share_post(post)">
      Share <i class="ion-share" style="margin-left: 2px;"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
  <ion-content class="blog-screen-content">
    <div class="list card blog">
      <div class="item item-text-wrap blog-detail-image">
        <h2 class="blog-title" ng-bind-html="post.title.rendered"></h2>
        <p ng-bind="post.date | date:'EEEE, MMM dd, yyyy'"></p>
        <p ng-if="wordpress-isnt-broken" ng-bind="post.author"></p>
      </div>
      <div class="item item-image blog-detail-video">
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-id="post.meta.youtube_video_id" player-vars="playerVars"></youtube-video>
        </div>
      </div>
      <div ng-bind-html="post.post_content" class="blog-detail-content blog-post-content"></div>
    </div>
  </ion-content>
</ion-nav-view>
