<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_dashboard();">
      <i class="ion-arrow-left-c" style="margin-right: 2px;"></i>Home
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view>
  <ion-content class="blog-screen-content">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh(true)"></ion-refresher>
    <ion-list class="blog-list">
      <ion-item class="item-icon-right blog-item" ng-repeat="post in posts" type="item-text-wrap" ng-click="go_detail(post)">
        <h2 ng-bind-html="post.title.rendered"></h2>
        <p ng-bind="post.date | date:'EEEE, MMM dd, yyyy'"></p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(post)">-->
        <!--Delete-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-nav-view>
