<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_dashboard()">
      <i class="ion-help-circled"></i>Home
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view>
  <ion-content class="home-screen no-footer">
    <div class="home-screen-content slow-fadein" id="share-the-app">
      <div class="share-instructions">
	<p>The most powerful tool we have is our voices, together.</p>
	<p>Please share this app with your friends, rate it on iTunes,
	  and send us your feedback, comments, and suggestions so that we can
	  keep improving it.</p>
	<div class="share-buttons">
	  <div class="tile" ng-click="rate_this_app()">
	    <span class="tile-contents">
	      <i class="icon ion-heart"></i>
	      <span ng-if="!exposure_rated">Rate The Exposure</span>
	      <span ng-if="exposure_rated">Thanks for Rating!</span>
	    </span>
	  </div>
	  <div class="tile" ng-click="email_the_exposure()">
	    <span class="tile-contents">
	      <i class="icon ion-email"></i>
	      <span>Email the Developers</span>
	    </span>
	  </div>
	  <div class="tile">
	    <span class="tile-contents" ng-click="share_this_app()">
	      <i class="icon ion-android-share-alt"></i>
	      <span>Share via Networks</span>
	    </span>
	  </div>
	  <div class="tile" ng-click="share_with_contacts()">
	    <span class="tile-contents">
	      <i class="icon ion-android-contacts"></i>
	      <span>Share with Contacts</span>
	    </span>
	  </div>
	</div>
      </div>
    </div>
  </ion-content>
</ion-nav-view>

