<ion-view>
  <ion-content class="home-screen" id="home-screen">
    <div class="info-box" ng-click="accelerate()">
      <h1 class="exposure-logotype exposure-logotype-fullwidth smooth-fadein">exposure</h1>
      <p class="dramatic-paragraph smooth-fadein delay-1">
	Six years ago, 200 million gallons of oil were released into the Gulf of Mexico.
      </p>
      <p class="dramatic-paragraph smooth-fadein delay-2">
	Soon after, 2 over million gallons of toxic dispersants were as well.
      </p>
      <p class="dramatic-paragraph smooth-fadein delay-3">
	Clean-up workers were told it was safe.
      </p>
      <p class="dramatic-paragraph smooth-fadein delay-4">
	Local residents were told it was safe.
      </p>
      <p class="dramatic-paragraph smooth-fadein delay-5">
	And the cleanup was called a success.
      </p>
      <p class="dramatic-paragraph slow-fadein delay-6">
	But the real disaster had just begun.
      </p>
    </div>
  </ion-content>
  <div class="sticky-footer">
    <button class="button button-block button-light button-light-home button-light-cta slow-fadein delay-7" ng-click="go_story()">The disaster today</button>
  </div>
</ion-view>
