<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_why()">
      <i class="ion-help-circled"></i>Why
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="go_share()">
      <i class="ion-android-share-alt"></i>Share
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view>
  <ion-content class="home-screen no-footer">
    <div class="home-screen-content slow-fadein" id="the-dashboard">

      <div id="thanks-for-rating-this-app-message" class="inline-message fade">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Thank you for taking the time to rate The Exposure App!  Our voices together will shed light on the truth.
      </div>
      <div id="thanks-for-sending-us-email-message" class="inline-message fade">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Thank you for taking the time to send us an email.  We love communication and feedback!  Our voices together will shed light on the truth.
      </div>
      <div id="thanks-for-sharing-message" class="inline-message fade">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Thank you for sharing The Exposure App with others! Our voices together will shed light on the truth.
      </div>
      <div id="submitted-story-message" class="inline-message fade">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Thank you for telling your story. Our voices together will shed light on the truth.
      </div>

      <div id="incomplete-survey-message" class="inline-message item-remove-animate">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Your survey for {{messaged_codename}} isn't quite done yet, so we saved it below to finish when you have time.
      </div>

      <div id="complete-survey-message" class="inline-message item-remove-animate">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Your survey for {{messaged_codename}} is complete and listed below. Click to review or update your answers at any time.
      </div>

      <p class="dramatic-paragraph" ng-show="show_blurb">
        Help us shed light on the effects of the gulf spill by
	taking this anonymous survey once for each of your family
	members who became sick.
      </p>

      <span ng-show="show_share"">
	<button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_share()">
	  Share The App
	</button>
	<p class="button-subtext">spread the word, help friends</p>
      </span>

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_survey()">
	<span ng-if="!surveys || (surveys.length == 0)">Take the Health Survey</span>
	<span ng-if="surveys && (surveys.length == 1)")">Add a New Survey</span>
	<span ng-if="surveys && (surveys.length > 1)")">Add More Surveys</span>
      </button>

      <div ng-if="surveys && surveys.length > 0" class="">
      	<h6 class="list-label list-label-centered">Your previous surveys:</h6>
        <div class="previous-surveys-list">
	  <ion-list can-swipe="nottrue" show-delete="nottrue">
            <ion-item ng-repeat="survey in surveys" ng-click="go_survey(survey.user.codename)"
		    class="previous-surveys-list-item survey-status-{{survey.status}}">
              <span class="survey-item-cell survey-subject" ng-bind="survey.user.codename"></span>
              <span class="survey-item-cell survey-age">Age <span ng-bind="get_birthdate(survey) | asAge"></span></span>
              <span class="survey-item-cell survey-status survey-status-{{survey.status}}">
		<span ng-if="survey.status == 'complete'">
		  completed
		</span>
		<span ng-if="survey.status != 'complete'">
		  continue
		  &nbsp;
		  <span class="icon ion-chevron-right"></span>
		</span>
              </span>
	      <ion-delete-button class="ion-minus-circled" ng-click="remove_survey(survey, $index)"></ion-delete-button>
            </ion-item>
	  </ion-list>
        </div>
      </div>
      <hr ng-if="!surveys || surveys.length == 0">

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_map()">
	See the map
      </button>
      <p class="button-subtext">view the affected health areas</p>

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_blog()">
	Read the blog
      </button>
      <p class="button-subtext">get the latest news</p>

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_create()">
	Tell your story
      </button>
      <p class="button-subtext">tell the world what is happening</p>
    </div>
  </ion-content>
</ion-nav-view>

