<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="go_story();">
      <i class="ion-help-circled"></i>Why
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view>
  <ion-content class="home-screen no-footer">
    <div class="home-screen-content slow-fadein" id="the-dashboard">
      <div id="submitted-story-message" class="inline-message fade">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Thank you for your telling your story. Our voices together will shed light on the truth.
      </div>

      <div id="incomplete-survey-message" class="inline-message item-remove-animate">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Your survey for {{messaged_codename}} isn't quite done yet, so we saved it below to finish when you have time.
      </div>

      <div id="complete-survey-message" class="inline-message item-remove-animate">
        <i class="ion-close" ng-click="close_inline_message($event)"></i>
        Your survey for {{messaged_codename}} is complete and listed below. Click to review or update your answers at any time.
      </div>

      <p class="dramatic-paragraph" ng-if="!inline_message_showing">
        Help us shed light on the effects of the gulf spill by
	taking this anonymous survey once for each of your family
	members who became sick.
      </p>
      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_survey()">
	New health survey
      </button>

      <div ng-if="surveys && surveys.length > 0" class="">
      	<h6 class="list-label list-label-centered">Your previous surveys:</h6>
        <div class="previous-surveys-list">
          <ion-item ng-repeat="survey in surveys" ng-click="go_survey(survey.user.codename)"
		  class="previous-surveys-list-item survey-status-{{survey.status}}">
            <span class="survey-item-cell survey-subject" ng-bind="survey.user.codename"></span>
            <span class="survey-item-cell survey-age">Age <span ng-bind="get_birthdate(survey) | asAge"></span></span>
            <span class="survey-item-cell survey-status survey-status-{{survey.status}}">
	      <span ng-if="survey.status == 'complete'">
		completed
	      </span>
	      <span ng-if="survey.status != 'complete'">
		continue
		&nbsp;
		<span class="icon ion-chevron-right"></span>
	      </span>
            </span>
	    <ion-delete-button class="ion-minus-circled" ng-click="remove_survey(survey, $index)"></ion-delete-button>
          </ion-item>
        </div>
      </div>
      <hr ng-if="!surveys || surveys.length == 0">

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_map()">
	See the map
      </button>
      <p class="button-subtext">See how the damage has spread.</p>

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_blog()">
	Read the blog
      </button>
      <p class="button-subtext">View info about the situation.</p>

      <button class="button button-block button-light button-light-home button-light-cta button-has-subtext" ng-click="go_create()">
	Tell your story
      </button>
      <p class="button-subtext slow-fadein">We might add your story to our blog!</p>
    </div>
  </ion-content>
</ion-nav-view>

