<ion-nav-bar>
  <ion-nav-title>Exposure</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" style="color:white" ng-click="go_dashboard()">
      <i class="ion-arrow-up-c" style="margin-right: 2px;"></i>Home
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view>
  <ion-content class="survey-screen-content">
    <div class="instruction-box">
      <p> Please fill out the form to the best of your ability.  All
	data is anonymous, and you can use your <emph>codename</emph> to
	individualize different friend or family health surveys.
      </p>
    </div>
    <div ng-repeat="group in groups" class="form-group">
      <h5 class="group-name" ng-bind="group.name"></h5>
      <div class="list list-inset" ng-repeat="question in group.questions">
      	<h5 class="list-label question-name answer-type-{{question.seltype}} {{question.data_type_class}}">
	  <span ng-bind="question.name"></span>:
	</h5>
      	<span class="instructions question-instructions" ng-bind="question.instructions"></span>

      	<!-- DEBUGGING: <h2 ng-bind="question.seltype"></h2> -->

      	<!-- Codename, for example -->
      	<span ng-if="question.seltype == 'fixed'">
      	  <span class="answer fixed" ng-bind="question.answer"></span>
      	</span>

      	<!-- Should be more like radio buttons - for Gender at Birth for example. -->
      	<div ng-if="question.seltype == 'pick-one'">
      	  <div class="list list-inset list-has-label">
      	    <ion-list>
      	      <ion-checkbox class="option-name" ng-click="pick_one(question, option)"
		      ng-repeat="option in question.options" ng-model="option.checked">{{option.name}}</ion-checkbox>
      	    </ion-list>
      	  </div>
      	</div>

      	<div ng-if="question.seltype.startsWith('pick-many')">
      	  <div class="list list-inset list-has-label">
      	    <ion-list>
      	      <ion-checkbox class="option-name" ng-repeat="option in question.options" ng-model="option.checked">{{option.name}}</ion-checkbox>
      	      <ion-checkbox class="option-name other-option" ng-model="question.other_checked" ng-if="question.seltype == 'pick-many-with-other'"
      		      ng-click="toggle_other(question)">Other...</ion-checkbox>
      	      <input type="text" ng-model="question.answer" ng-if="question.other_checked" placeholder="Please tell us here..." />
      	    </ion-list>
      	  </div>
      	</div>

      	<div class="list list-inset list-has-label" ng-if="question.seltype == 'date'">
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date" ng-model="question.answer">
          </label>
      	</div>

      	<div class="list list-inset list-has-label" ng-if="question.seltype == 'location'">
      	  <input type="location" ng-model="question.answer" placeholder="City and State, or ZIP code"/>
      	</div>

      </div>
    </div>
    <button style="width: 90%; margin-left: auto; margin-right: auto;" class="button button-block button-light button-light-home button-light-cta" ng-click="submit_survey()">Submit Survey</button>
  </ion-content>
</ion-nav-view>
