<ion-content class="home-screen">
  <div class="info-box" ng-click="accelerate()">
    <div class="home-screen-content nomo-fadein">
      <h4>The Disaster Today</h4>
      <p>
        Today, millions of adults and children are still being exposed to the toxic chemicals that were poured into the gulf after the Deepwater Horizon disaster. Experts suspect hundreds of thousands are living in medical distress, and will have chronic symptoms up until an early death.
      </p>
      <p>
        This has been allowed to happen because the people who have been harmed have been silenced. Only by raising our voices, can we show the need for solutions to medical care, and to change the role of health in the energy industry.
      </p>
      <p>
        By taking the health survey, we create a map of injuries and disease since the Deepwater Horizon disaster. We’re putting our health on the map for the world to see.
      </p>
      <p>
        And we won’t be alone. The top environment and social justice groups in the Gulf and in the nation are coming together to make sure our voices are heard, to help us tell our story.
      </p>
      <p>
        While your survey is anonymous, your voice is needed now to start making this change possible. It’s been six years, you’ve waited long enough.
      </p>
      <button class="button button-block button-light button-light-home" ng-click="go_dashboard()">make your voice heard</button>
    </div>
  </div>
</ion-content>
