<ion-content class="home-screen">
  <div class="info-box">
    <h2>A snappy tagline about all this.</h2>
    <p>
      Thousands of people who lived or volunteered in the gulf during the disasterous oil spill
      by of the Deppwater Horizon have reported illnesses and health issues.  Our aim is to collect as much data as we can from people who believe they have been exposed to adverse chemicals and are suffering as a result.
    </p>
  </div>

  <button class="home-page-button" ng-click="go_survey()">
    <h1>Take the health survey</h1>
    <p> Complete once for each family with health issues.</p>
  </button>

  <button class="home-page-button" ng-click="go_map()">
    <h1>See the map</h1>
    <p> View the heatmap of the reported health issues so far.</p>
  </button>

  <button class="home-page-button" ng-click="go_blog()">
    <h1>Read the blog</h1>
    <p> For in-depth analysis of the data, updated, and resources available.</p>
  </button>
</ion-content>
